body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3c4264;
}

.calculator {
    width: 300px;
    background-color: #262a45;
    border-radius: 15px;
    padding: 30px;
    border: 6px groove #515d7e;
}

#display {
    width: 100%;
    height: 70px;
    background: #eae4db;
    border: 3px groove #515d7e;
    border-radius: 10px;
    margin-bottom: 30px;
    font-size: 3rem;
    font-family: 'digital-7';
    color: #f2f3f5;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
}

.buttons { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    font-style: normal;

}

.button {
    height: 40px;
    background: #eae4db;
    color: #474a5d;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px #939398;
    font-weight: bold;
}

.ac {
    height: 40px;
    background: #656c9a;
    color: #eae4db;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px #535a88;
    
} 

.equal {
    height: 40px;
    background: #d14e30;
    color: #eae4db;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px #8a3329;
    grid-column: span 2;
    
} 

.button:active {
    box-shadow: 0 2px #939398;
    transform: translateY(4px);
}

